<script id="tpl-alert-warning" type="text/x-handlebars-template">
<div class="alert alert-warning">
    <strong>Warning!</strong>
    Your tweet has left the optimal length and is approching the 140 character limit.
    In this zone you will not be able to add a photo.
    The length of your tweet is currently \{{count}}.
    You have \{{left}} characters left.
</div>
</script>
