<script id="tpl-alert-success" type="text/x-handlebars-template">
<div class="alert alert-success" role="alert">
    <strong>Well done!</strong>
    Your tweet is the optimal length.
    The length of your tweet is currently \{{count}}.
    You have \{{left}} characters left.
</div>
</script>
