<script id="tpl-alert-info" type="text/x-handlebars-template">
<div class="alert alert-info">
    <strong>Heads up!</strong>
    Your tweet is about to leaving the optimal length.
    The length of your tweet is currently \{{count}}.
    You have \{{left}} characters left.
</div>
</script>
