<script id="tpl-alert-danger" type="text/x-handlebars-template">
<div class="alert alert-danger">
    <strong>Oh snap!</strong> Your tweet is too long.
    The length of your tweet is currently \{{count}}.
    You should remove \{{left}} characters.
</div>
</script>
